:root {
  --white: #FFFFFF;
  --orange: #FF9900;
  --dark-orange: #E1670E;
  --text: #333333;
  --footer-border: #595959;
}

@media (max-width: 1199px) {
  /*global*/
  .section {
    padding: 40px 0;
  }

  .section__title {
    padding: 0;
  }

  /*header*/
  .header {
    padding: 18px 0 23px;
  }
  .header__wrapper {
    justify-content: space-between;
  }
  .burger {
    position: relative;
    width: 30px;
    height: 23px;
    margin-top: -2px;
    margin-right: -8px;
    outline-offset: 5px;
    outline: 2px solid transparent;
    transition: outline-color .3s ease-in-out;
  }
  .burger__line {
    position: absolute;
    left: 50%;
    width: 100%;
    height: 3px;
    background-color: var(--text);
    transform: translateX(-50%);
    transition: background-color .3s ease-in;
  }
  .burger__line:nth-child(3) {
    top: 0;
  }
  .burger__line:nth-child(1) {
    bottom: 0;
  }
  .burger__line:nth-child(2) {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .burger:focus-visible {
    outline-color: var(--orange);
  }
  .burger:active:not(:focus-visible) .burger__line {
    background-color: var(--dark-orange);
  }
  .burger:active:not(:focus-visible) .burger__line {
    background-color: var(--dark-orange);
  }
  .header__logo-link {
    margin: 0;
    padding-left: -2px;
  }
  .header__logo {
   width: 150px;
   margin-right: 0;
  }
  .header__nav {
    display: none;
  }

  /*hero*/
  .hero__wrapper{
    padding: 160px 77px 25px;
    background-image: url('../img/hero-bg-1-photo-of-balconies_1024.jpg');
  }
  .hero__title {
    margin-bottom: 16px;
    font-size: 60px;
    line-height: 73px;
  }
  .hero__descr {
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 24px;
  }
  .hero__button {
    margin-bottom: 116px;
  }

  /* about us */
  .about-us__title {
    margin-bottom: 11px;
  }
  .about-us__descr {
    margin-bottom: 61px;
  }
  .block-cards {
    flex-direction: column;
  }
  .card-hero, .block-cards__right-wrapper  {
    width: 100%;
  }
  .card-hero {
    min-height: 640px;
    margin-bottom: 32px;
    background-image: url('../img/about-us-worker_1024.jpg');
  }
  .card-hero__wrapper {
    padding: 5.4% 5.4%;
    padding-right: 5.8%;
  }
  .card {
    padding: 6.93% 5%;
    padding-left: 34.2%;
    background-position: 10.5% 50%;
    background-size: 20.5%;
  }
  /* how we work */
  .how-we-work__title {
    margin-bottom: 49px;
  }

  .tabs {
    margin-bottom: 51px;
  }

  .article__left, .article__right {
    width: calc((100% - 49px) / 2);
  }

  .article__right::before {
    top: 11px;
    background-image: url('../img/how-we-work-1_1024.jpg');
  }

  .article__descr {
    margin-bottom: 24px;
  }

  /* faq */
  .faq {
    padding-bottom: 81px;
  }

  .faq__title {
    margin-bottom: 32px;
  }

  .accordion__descr {
    max-width: 756px;
    padding: 0;
    font-size: 20px;
  }

  /* footer */
  .footer__wrapper {
    padding: 49px 48px 46px
  }

  .footer__left {
    width: 27%;
    margin-right: 10px;
  }

  .nav__link_grey {
    line-height: 199%;
  }

  .footer__center {
    min-width: 58.5%;
    padding: 0;
  }

  .form__textarea {
    margin-bottom: 32px;
  }

  .form__btn {
    padding: 21px 37.5px 18px;
  }

  .checkbox__text {
    padding-left: 18px;
    padding-right: 4px;
  }

  .footer__right {
    display: none;
  }
}

@media (max-width: 992px) {
  /* header */
  .header {
    padding: 8px 0 9px
  }

  /* hero */
  .hero__wrapper {
    padding: 160px 40px 25px;
    background-image: url('../img/hero-bg-1-photo-of-balconies_768.jpg');
  }

  .hero__title {
    font-size: 50px;
    line-height: 61px;
  }

  .hero__descr {
    font-size: 18px;
    line-height: 22px;
  }

  /* about us */
  .about-us__descr {
    margin-bottom: 59px;
  }

  .card-hero {
    min-height: 650px;
    /* background-image: url('../img/about-us-worker_768.jpg'); */
  }

  .card-hero__wrapper {
    padding: 5.1% 6%;
    padding-right: 6.5%;
  }

  .card-hero__descr {
    max-width: 366px;
  }

  .card {
    padding: 5.1% 5%;
    padding-left: 25.3%;
    background-position: 7.2% 50%;
    background-size: 17%;
  }

  /* how we work */
  .tabs {
    justify-content: space-between;
    margin-bottom: 39px;
  }

  .tabs__item:not(:last-child) {
    margin-right: 0;
  }

  .article {
    flex-direction: column-reverse;
  }

  .article__left, .article__right {
    width: 100%;
  }

  .article__right {
    min-height: 295px;
    margin-bottom: 39px;
  }

  .article__right::before {
    background-image: url('../img/how-we-work-1_768.jpg');
  }

  /* faq */
  .faq__title {
    margin-bottom: 31px;
  }

  .accordion__descr {
    max-width: 570px;
  }

  /* footer */
  .footer__wrapper {
    flex-direction: column-reverse;
    padding-bottom: 45px;
  }

  .nav_column {
    display: none;
  }

  .footer__center {
    width: 81%;
    margin-bottom: 50px;
  }

  .footer__left {
    width: 100%;
    margin: 0;
  }

  .footer__logo {
    margin-bottom: 12px;
  }

  .social {
    padding-left: 2px;
  }

  .social__item:not(:last-child) {
    margin-right: 25px;
  }
}

@media (max-width: 576px) {
  /* global */
  .container {
    padding: 0 15px;
  }

  .section {
    padding: 30px 0;
  }

  .section__title {
    font-size: 24px;
    line-height: 29px;
  }

  .btn {
    padding: 11px 28px 14px;
    font-size: 12px;
    line-height: 15px;
  }

  /* header */
  .header {
    padding: 16px 0 13px;
  }

  .header__logo {
    width: 110px;
  }

  /* hero */
  .hero__wrapper {
    padding: 60px 22px 11px;
    text-align: center;
    background-image: url('../img/hero-bg-1-photo-of-balconies_320.jpg');
  }

  .hero__title {
    margin-bottom: 7px;
    font-size: 20px;
    line-height: 24px;
  }

  .hero__descr {
    margin-bottom: 33px;
    font-size: 12px;
    line-height: 15px;
  }

  .hero__button {
    align-self: center;
    margin-bottom: 31px;
  }

  .swiper-circle__circle {
    width: 10px;
    height: 10px;
  }

  /* about us */
  .about-us__title {
    margin-bottom: 20px;
  }

  .about-us__descr {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 28px;
  }

  .card-hero {
    position: relative;
    min-height: 200px;
    margin-bottom: 210px;
    background-image: url('../img/about-us-worker_320.jpg');
  }

  .card-hero__wrapper {
    position: absolute;
    top: 208px;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    background: none;
  }

  .card-hero__descr {
    margin: 0;
    margin-bottom: 11px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: var(--text);
  }

  .card-hero__btn {
    padding: 9px 42px 12px;
    border: 2px solid var(--orange);
    outline: none;
    color: var(--orange);
  }

  .card-hero__btn:focus-visible {
    color: var(--white);
  }

  .card-hero__btn:not(:focus-visible):active {
    border-color: var(--dark-orange);
    color: var(--white);
  }

  .card {
    padding: 0;
    padding-top: 28.4%;
    border: none;
    background-position: 0 9%;
    background-size: 22%;
  }

  .card:not(:last-child) {
    margin-bottom: 10px;
  }

  .card-first {
    background-image: url('../img/about-us-img-1_320.svg');
  }

  .card-second {
    background-image: url('../img/about-us-img-2_320.svg');
  }

  .card__title {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .card__descr {
    font-size: 14px;
    line-height: 28px;
  }

  /* how we work */
  .how-we-work__title {
    margin-bottom: 21px;
  }

  .tabs {
    margin-bottom: 4px;
  }

  .tabs__button {
    font-size: 14px;
    line-height: 17px;
  }

  .article__right {
    min-height: 171px;
    margin-bottom: 16px;
  }

  .article__right::before {
    background-image: url(../img/how-we-work-1_320.jpg);
  }

  .article__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }

  .article__descr {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 28px;
  }

  .article__btn-wide {
    padding: 11px 44px 14px;
  }

  .article__btn:not(:last-child) {
    margin-right: 3.3%;
  }

  .article__btn-white {
    margin-left: -4px;
    padding: 10px 31px 13px 32px;
  }

  /* faq */
  .faq {
    padding-bottom: 61px;
  }

  .faq__title {
    margin-bottom: 16px;
  }

  .accordion__descr {
    max-width: 243px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .accordion__svg {
    min-width: auto;
    min-height: auto;
    width: 30px;
    height: 30px;
  }

  /* footer */
  .footer__wrapper {
    padding: 32px 15px 27px;
  }

  .footer__center {
    width: 100%;
    margin-bottom: 22px;
  }

  .form__title {
    margin-bottom: 21px;
    font-size: 24px;
    line-height: 29px;
  }

  .form__input, .form__textarea {
    padding: 13px 20px;
  }

  .form__input::placeholder, .form__textarea::placeholder {
    font-size: 14px;
  }

  .form__textarea {
    margin-bottom: 25px;
  }

  .form__submit-wrapper {
    flex-direction: column;
  }

  .form__btn {
    margin: 0;
    margin-bottom: 15px;
  }

  .checkbox__text {
    padding-right: 0;
  }

  .footer__left {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    border-top: 1px solid var(--footer-border);
  }

  .footer__logo {
    width: 131px;
    align-self: center;
    margin-bottom: 16px;
  }

  .social {
    align-self: center;
    padding: 0;
  }

  .social__item:not(:last-child) {
    margin-right: 16px;
  }

  .social__img {
    width: 40px;
    height: 40px;
  }
}