:root {
  --white: #FFFFFF;
  --text: #333333;
  --orange: #FF9900;
  --light-orange: rgba(255, 153, 0, 0.7);
  --dark-orange: #E1670E;
  --grey: #CACACA;
  --footer-bg: #222222;
  --input-bg: #414141;
  --social: #7C7C7C;
  --dark-grey: #666666;
  --black: #000000;
  --accordion-circle: #ECECEC;
  --border-input-search: #DCDCDC;
  --placeholder-search: #ADADAD;
  --closed-search: #999999;
}

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Regular'),
    url(../fonts/MontserratRegular.woff2) format('woff2'),
    url(../fonts/MontserratRegular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

 @font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Medium'),
    url(../fonts/MontserratMedium.woff2) format('woff2'),
    url(../fonts/MontserratMedium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-SemiBold'),
  url(../fonts/MontserratSemiBold.woff2) format('woff2'),
  url(../fonts/MontserratSemiBold.woff) format('woff');
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Bold'),
    url(../fonts/MontserratBold.woff2) format('woff2'),
    url(../fonts/MontserratBold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-ExtraBold'),
    url(../fonts/MontserratExtraBold.woff2) format('woff2'),
    url(../fonts/MontserratExtraBold.woff) format('woff');
    font-weight: 800;
    font-style: normal;
}

body {
  min-width: 320px;
  background-color: var(--white);
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 400;
}

/* global styles */
@media (min-width: 1024px) {
  .btn:hover:not(:focus-visible) {
    background-color: var(--light-orange);
  }

  .nav__link:hover:not(:focus-visible):before {
    opacity: 1;
    transform: scale(1);
  }

  .btn-search__svg:hover:not(:focus-visible) {
    stroke: var(--orange);
  }

  .btn-search__svg:hover:not(:focus-visible) rect {
    fill: var(--orange);
  }

  .btn-close-search__svg:hover:not(:focus-visible) circle {
    stroke: var(--orange);
  }
  .btn-close-search__svg:hover:not(:focus-visible) rect {
    fill: var(--orange);
  }

  .card-hero__btn:hover:not(:focus-visible) {
    background-color: var(--orange);
  }

  .tabs__button:hover:not(:focus-visible) {
    color: var(--orange);
  }

  .article__btn-white:hover:not(:focus-visible) {
    border-color: var(--dark-grey);
    background-color: var(--dark-grey);
    color: var(--white);
  }

  .accordion__btn:hover:not(:focus-visible) {
    border-color: var(--orange);
    z-index: 1;
  }

  .accordion__btn:hover:not(:focus-visible) .accordion__title {
    color: var(--orange);
  }

  .accordion__btn:hover:not(:focus-visible) .accordion__title_grey {
    color: var(--orange);
  }

  .accordion__btn:hover:not(:focus-visible) .accordion__svg {
    fill: var(--orange);
  }

  .accordion__btn:hover:not(:focus-visible) .accordion__cros {
    fill: var(--white);
  }

  .nav__link_grey:hover:not(:focus-visible) {
    color: var(--orange);
  }

  .nav__link_grey:hover:not(:focus-visible)::before {
    opacity: 0;
    transform: scale(0);
  }

  .social__img:hover:not(:focus-visible) {
    fill: var(--orange);
  }

  .form__input:-webkit-autofill:hover {
    box-shadow: 0 0 0 30px var(--dark-grey) inset !important;
    -webkit-text-fill-color: var(--white);
  }

  .form__input:hover:not(:focus-visible),
  .form__textarea:hover:not(:focus-visible) {
    background-color: var(--dark-grey);
  }
}

.list_reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn_reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1870px;
  padding: 0 50px;
  margin: 0 auto;
}

.section {
  padding: 51px 0;
}

.section:first-child {
  padding-top: 100px;
}

.section__title {
margin: 0;
font-weight: 400;
font-size: 48px;
line-height: 59px;
color: var(--text);
}

.btn {
  padding: 21px 38px 18px;
  outline: none;
  background-color: var(--orange);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--white);
  transition-property: background-color, border-color, outline-color, color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.btn:focus-visible {
  background-color: var(--light-orange);
}

.btn:active:not(:focus-visible) {
  background-color: var(--dark-orange);
}

/* header */
.header__top {
  position: relative;
  z-index: 10;
  padding: 14px 0 10px;
  box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%);
  overflow: hidden;
}

.header__wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.burger {
  display: none;
}

.header__logo-link {
  position: relative;
  margin-right: auto;
  outline: none;
}

.header__logo-link::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 2px solid var(--orange);
  outline-offset: 5px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.header__logo-link:focus-visible::before {
  opacity: 1;
}

.nav {
  width: 40%;
  margin-right:  85px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__item:not(:last-child) {
  margin-right:  10px;
}

.nav__link {
  position: relative;
  outline: 2px solid transparent;
  outline-offset: 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 17px;
  text-decoration: none;
  color: var(--text);
  transition: color .3s ease-in-out, outline .3s ease-in-out;
}

.nav__link::before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: -7px;
  height: 2px;
  background-color: var(--orange);
  opacity: 0;
  transform: scale(0);
  transition-property: opacity, transform, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.nav__link:focus-visible {
  outline-color: var(--orange);
}

.nav__link:active:not(:focus-visible) {
  color: var(--dark-orange);
}

.nav__link:active:not(:focus-visible)::before {
  background-color: var(--dark-orange);
}

.btn-search {
  outline: 2px solid transparent;
  outline-offset: 2px;
  font-size: 0;
  transition: outline-color .3s ease-in-out, opacity .3s ease-in-out;
}

.btn-open-search_active {
  opacity: 0;
}

.btn-search__svg {
  stroke: var(--text);
  transition: stroke .3s ease-in-out;
}

.btn-search__svg rect {
  fill: var(--text);
  transition: fill .3s ease-in-out;
}

.btn-search:focus-visible {
  outline-color: var(--orange);
}

.btn-search .btn-search__svg:active:not(:focus-visible) {
  stroke: var(--orange);
}
.btn-search .btn-search__svg:active:not(:focus-visible) rect {
  fill: var(--orange);
}

.search-form {
  position: absolute;
  top: 8px;
  right: 36px;
  display: flex;
  padding: 18px 32px;
  padding-right: 13px;
  width: 539px;
  border-radius: 16px;
  background-color: var(--white);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  visibility: hidden;
  opacity: 0;
  transform: translateX(150%);
  transition: opacity .3s ease-in-out;
}

.search-form_active {
  transform: none;
  visibility: visible;
  opacity: 1;
}

.search-form__input {
  width: 100%;
  margin-right: 14px;
  padding: 0;
  padding-bottom: 3px;
  border: none;
  border-bottom: 1px solid var(--border-input-search);
  border-radius: 0;
  outline: none;
}

.search-form__input::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--placeholder-search);
}

.search-form__btn-search {
  margin-right: 20px;
}

.search-form__svg {
  stroke: var(--orange);
}

.search-form__svg rect {
  fill: var(--orange);
}


.btn-close-search {
  display: flex;
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition: outline-color .3s ease-in-out, opacity .3s ease-in-out;
}

.btn-close-search:focus-visible {
  outline-color: var(--orange);
}

.btn-close-search__svg circle {
  stroke: var(--closed-search);
  transition: stroke .3s ease-in-out;
}

.btn-close-search__svg rect {
  fill: var(--closed-search);
  transition: fill .3s ease-in-out;
}

.btn-close-search .btn-close-search__svg:active:not(:focus-visible) circle {
  stroke: var(--text);
}

.btn-close-search .btn-close-search__svg:active:not(:focus-visible) rect {
  fill: var(--text);
}

/* hero */
.hero.section {
  padding: 0;
}

.hero__wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 101px 80px 100px;
}

.hero__title {
  max-width: 837px;
  margin: 0;
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--white);
}

.hero__descr {
  max-width: 790px;
  margin: 0;
  margin-bottom: 90px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--white);
}

.hero__button {
  padding: 24px 38px;
  font-size: 23.4581px;
  line-height: 29px;
}

.hero-swiper {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-swiper__first-slide {
  background-image: url('../img/hero-bg-1-photo-of-balconies.jpg');
}

.hero-swiper__second-slide {
  background-image: url('../img/hero-bg-2-brown-and-blue-glass-building.jpg');
}

.hero-swiper__third-slide {
  background-image: url('../img/hero-bg-3-apartment-apartment-building-architecture-building.jpg');
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
 bottom: 26px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal
.swiper-pagination-bullets
.swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap,10px);
  width: 15px;
  height: 15px;
}

.swiper-pagination-bullet {
  background-color: var(--white);
  opacity: 0.4;
}

.swiper-pagination-bullet:focus-visible {
  outline: none;
  outline: solid 1px var(--white);
  outline-offset: 2px;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

/* about us */
.about-us__title {
  margin-bottom: 20px;
}

.about-us__descr {
  max-width: 1235px;
  margin: 0;
  margin-bottom: 48px;
  font-size: 16px;
  line-height: 32px;
  color: var(--text);
}

.block-cards {
  display: flex;
}

.card-hero {
  display: flex;
  align-items: flex-end;
  width: calc((100% - 32px) / 2);
  background-image: url('../img/about-us-worker.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-hero__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5.8% 5.8%;
  padding-right: 6.2%;
  background-color: rgba(0, 0, 0, 0.5);
}

.card-hero__descr {
  max-width: 454px;
  margin: 0;
  margin-right: 3%;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: var(--white);
}

.card-hero__btn {
  padding: 17px 35px;
  background-color: transparent;
  outline: 3px solid var(--orange);
  transition: outline-color .3s ease-in-out, background-color .3s ease-in-out;
}

.card-hero__btn:focus-visible {
  background-color: var(--orange);
}

.card-hero__btn:active:not(:focus-visible) {
  outline-color: var(--dark-orange);
  background-color: var(--dark-orange);
}

.block-cards {
  display: flex;
  justify-content: space-between;
}

.block-cards__right-wrapper {
  display: flex;
  flex-direction: column;
  width: calc((100% - 32px) / 2);
}

.card {
  flex: 1;
  padding: 7.4% 5%;
  padding-left: 34.4%;
  border: 1px solid var(--grey);
  background-repeat: no-repeat;
  background-position: 8.7% 50%;
  background-size: 21.9%;
}

.card:not(:last-child) {
 margin-bottom: 32px;
}

.block-cards__right-wrapper .card {
  flex: 1;
}

.card-first {
  background-image: url('../img/about-us-img-1.svg');
}

.card-second {
  background-image: url('../img/about-us-img-2.svg');
}

.card__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--text);
}

.card__descr {
  max-width: 450px;
  margin: 0;
  font-size: 16px;
  line-height: 32px;
  color: var(--text);
}

/* how we work */
.how-we-work__title {
  margin-bottom: 48px;
}

.tabs {
  display: flex;
  margin-bottom: 45px;
}

.tabs__item:not(:last-child) {
  margin-right: 86px;
}

.tabs__button {
  outline: 2px solid transparent;
  outline-offset: 5px;
  font-size: 18px;
  line-height: 22px;
  color: var(--text);
  transition: color .3s ease-in-out, outline .3s ease-in-out;
}

.tabs__button-active {
  color: var(--dark-orange);
}

.tabs__button:focus-visible {
  outline-color: var(--orange);
}

.tabs__button:active:not(:focus-visible) {
  color: var(--dark-orange);
}

.article {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.article__left {
  display: none;
  width: calc((100% - 32px) / 2);
  min-height: 470px;
}

.article__left-active {
  display: block;
}

.article__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--text);
}

.article__descr {
  max-width: 758px;
  margin: 0;
  padding-bottom: 70px;
  font-size: 16px;
  line-height: 32px;
  color: var(--text);
}

.article__btn-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
}

.article__btn:not(:last-child) {
  margin-right: 28px;
}

.article__btn-white {
  background-color: transparent;
  border: 1px solid var(--text);
  font-weight: 400;
  color: var(--text);
  transition-property: background-color, border, color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.article__btn-white:focus-visible {
  border-color: var(--dark-grey);
  background-color: var(--dark-grey);
  color: var(--white);
}

.article__btn-white:active:not(:focus-visible) {
  border-color: var(--black);
  background-color: var(--black);
  color: var(--white);
}

.article__right {
  position: relative;
  display: none;
  width: calc((100% - 32px) / 2);
}

.article__right::before {
  position: absolute;
  content: '';
  top: 9px;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.article__right-first::before {
  background-image: url('../img/how-we-work-1.jpg');
}

.article__right-second::before {
  background-image: url('../img/how-we-work-2.jpg');
}

.article__right-third::before {
  background-image: url('../img/how-we-work-3.jpg');
}

.article__right-fourth::before {
  background-image: url('../img/how-we-work-4.jpg');
}

.article__right-active {
  display: block;
}

/* faq */
.faq {
 padding-bottom: 101px;
}

.faq__title {
  margin-bottom: 40px;
}

.accordion {
  display: flex;
  flex-direction: column;
}

.accordion__btn {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: -1px;
  padding: 30px 0;
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
  transition: border-color 0.3s ease-in-out;
}

.accordion__title {
  margin: 0;
  margin-right: 30px;
  padding-top: 3px;
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--text);
  transition: color .3s ease-in-out;
}

.accordion__title_grey {
  color: var(--grey);
  transition: color .3s ease-in-out;
}

.accordion__svg {
  min-width: 50px;
  min-height: 50px;
  fill: var(--accordion-circle);
  transition: transform .3s ease-in-out, fill .3s ease-in-out;
}

.accordion__cros {
  fill: var(--dark-grey);
}

.accordion__btn:focus-visible {
  outline: none;
  border-color: var(--orange);
  z-index: 1;
}

.accordion__btn:focus-visible .accordion__title {
  color: var(--orange);
}

.accordion__btn:focus-visible .accordion__title_grey {
  color: var(--orange);
}

.accordion__btn:focus-visible .accordion__svg {
  fill: var(--orange);
}

.accordion__btn:focus-visible .accordion__cros {
  fill: var(--white);
}

.accordion__btn:active:not(:focus-visible) {
  border-color: var(--grey);
}

.accordion__btn:active:not(:focus-visible) .accordion__title {
  color: var(--text);
}

.accordion__btn:active:not(:focus-visible) .accordion__title_grey {
  color: var(--grey);
}

.accordion__btn:active:not(:focus-visible) .accordion__svg {
  fill: var(--accordion-circle);
  transform: rotate(45deg);
}

.accordion__btn:active:not(:focus-visible) .accordion__cros {
  fill: var(--dark-grey);
}

.accordion__content {
  overflow: hidden;
  visibility: hidden;
  transition-property: height, visivility;
  transition-timing-function: ease;
}

.accordion__descr {
  margin: 0;
  max-width: 1003px;
  font-size: 16px;
  line-height: 32px;
  color: var(--text);
}

.accordion__descr:first-child {
  margin-bottom: 32px;
}

.accordion__item_active.accordion__item {
  padding-bottom: 40px;
}

.accordion__item_active
.accordion__btn {
  border-bottom: none;
}

.accordion__item_active
.accordion__svg {
  transform: rotate(45deg);
}

.accordion__item_active
.accordion__content {
  visibility: visible;
}


/* footer */
footer {
  background-color: var(--footer-bg);
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 50px 50px 46px;
}

.footer__left {
  min-width: max-content;
  margin-right: 6.8%;
}

.footer__logo {
  margin-bottom: 18px;
}

.nav_column {
  margin: 0;
  margin-bottom: 90px;
}

.nav__list_column {
 flex-direction: column;
}

.nav__item_not-margin:not(:last-child) {
  margin: 0;
}

.nav__link_grey {
  white-space: nowrap;
  line-height: 198%;
  color: var(--grey);
  transition: color .3s ease-in-out;
}

.nav__link_grey:active:not(:focus-visible) {
  color: var(--dark-orange)
}

.social {
  display: flex;
  font-size: 0;
}

.social__link {
  display: inline-block;
  outline: 2px solid transparent;
  outline-offset: 5px;
  transition: outline .3s ease-in-out;
}

.social__link:focus-visible {
  outline-color: var(--orange);
}

.social__item:not(:last-child) {
  margin-right: 10%;
}

.social__img {
  fill: var(--social);
  transition: fill .3s ease-in-out;
}

.social__img:active:not(:focus-visible) {
  fill: var(--dark-orange);
}

.footer__center {
  min-width: 33%;
  padding-left: 9px;
  padding-right: 6px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--grey);
}

.form__input,
.form__textarea {
  min-height: 60px;
  margin-bottom: 25px;
  padding: 16px 24px 12px;
  border: none;
  border-radius: 0;
  outline: none;
  background-color: var(--input-bg);
  color: var(--white);
  transition: backgroun-color .3s ease-in-out;
}

.form__input:-webkit-autofill,
.form__input:-webkit-autofill:focus,
.form__input:-webkit-autofill:active  {
     box-shadow: 0 0 0 30px var(--dark-grey) inset !important;
     -webkit-text-fill-color: var(--white);
}

.form__textarea {
  min-height: 150px;
  margin-bottom: 32px;
  resize: none;
}

.form__input:focus-visible,
.form__textarea:focus-visible {
  background-color: var(--dark-grey);
}

::-moz-placeholder,
:-moz-placeholder {
  opacity: 1;
}

.form__input::placeholder, .form__textarea::placeholder {
  font-size: 16px;
  line-height: 32px;
  color: var(--grey);
}

.form__submit-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form__btn {
  margin-right: 3%;
  padding: 21px 52px 18px;
  white-space: nowrap;
}

.checkbox {
  cursor: pointer;
  padding-top: 4px;
}

.checkbox__input {
  position: absolute;
  width: 14px;
  height: 14px;
  cursor: pointer;
  opacity: 0;
}

.checkbox__text {
  position: relative;
  padding-left: 18px;
  font-size: 16px;
  color: var(--grey);
}

.checkbox__text::before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  border: 1px solid var(--grey);
  width: 14px;
  height: 14px;
  background-position: center;
  background-repeat: no-repeat;
}

.checkbox__input:focus-visible+.checkbox__text::before {
  border-color: var(--orange);
}

.checkbox__input:focus-visible+.checkbox__text {
  color: var(--orange);
}

.checkbox__input:checked+.checkbox__text::before {
  background-image: url('../img/check.svg');
}

.footer__right {
  min-width: 21%;
}

.footer__descr {
  max-width: 363px;
  margin: 0;
  padding: 88px 0 90px;
  padding-left: 9px;
  font-size: 16px;
  line-height: 32px;
  color: var(--grey);
}
